html {
  font-family: Lora, serif;
  font-size: 112.5%;
  background-color: #d8eff5;
  color: #575757; }

body {
  text-align: center; }

.notification {
  font-family: Lato, sans-serif;
  position: fixed;
  right: 40px;
  padding: 15px;
  top: 20px;
  width: 300px;
  background-color: #2d2d2d;
  color: #d3d0c8;
  border-radius: 4px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, top 0.5s ease-in-out, opacity 0.5s ease-in-out; }

.notification:not(.hidden) {
  visibility: visible;
  opacity: 1;
  top: 30px;
  transition-delay: 0s; }

a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
  background: none; }

content {
  max-width: 550px;
  margin: 40px auto 0 auto;
  padding: 0 15px;
  display: block;
  line-height: 2em;
  font-size: 22px;
  text-align: left;
  word-wrap: break-word; }
  content a, content a:visited, content a:hover, content a:active, content a:focus {
    text-decoration: underline;
    cursor: pointer; }
  content a:hover {
    color: #242424; }
  content a:active {
    color: black; }

.inactive .options {
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
  color: #4A4A4A;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: center; }

h1 {
  font-size: 4.096rem;
  line-height: 5rem; }

h2 {
  font-size: 2.56rem;
  line-height: 3rem; }

h3 {
  font-size: 1.6rem;
  line-height: 2rem; }

h4 {
  font-size: 1.36798rem;
  line-height: 2rem; }

h5 {
  font-size: 1.16961rem;
  line-height: 2rem; }

h6 {
  font-size: 1rem;
  line-height: 2rem; }

p {
  margin-bottom: 2rem;
  padding: 0; }

.icon {
  margin-bottom: -18px;
  height: 72px;
  width: 72px; }

.mobile .desktopOnly {
  display: none; }

.desktop .mobileOnly {
  display: none; }

.keys, .disclaimer {
  margin: 45px auto 15px auto;
  padding: 0 10px;
  max-width: 550px; }

.key {
  font-family: Lato, sans-serif;
  display: inline-block;
  margin: 0 40px;
  font-size: 125%; }

.initialHeader {
  margin: 0; }
  .initialHeader h1 {
    display: inline-block;
    padding: 30px 67px 25px 0;
    margin-bottom: -25px;
    background: url('logo.png') no-repeat right center;
    background-size: 110px 110px; }

.lacona-demo {
  background-image: url('dots.png');
  background-repeat: no-repeat;
  background-position: center 230px;
  padding-bottom: 300px; }
  @media screen and (max-width: 420px) {
    .lacona-demo {
      background-position: center 300px;
      padding-bottom: 420px; } }

.bar {
  height: 0;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  top: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out; }
  .initial-load .bar {
    opacity: 0;
    top: 10px; }
  .fixed .bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; }
  .bar .logo {
    position: absolute;
    margin: 10px 0 0 0;
    top: 0;
    left: 20px;
    text-align: left;
    width: 60px; }
    .bar .logo .icon {
      height: 48px;
      width: 48px; }

footer {
  font-family: Lato, sans-serif;
  margin: 30px 0; }

.lacona-view input, .options, .notification {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); }

.lacona-view {
  font-family: Lato, sans-serif;
  font-size: 24px;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  position: absolute;
  z-index: 20;
  transition: width 0.2s, margin 0.2s; }
  .lacona-view input {
    font-family: Lato, sans-serif;
    font-size: 24px;
    width: calc(100% - 70px);
    text-align: left;
    margin: 10px 20px 0 20px;
    padding: 7px 15px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 4px; }
  .fixed .lacona-view {
    width: calc(100% - 60px);
    margin-left: 60px; }

.options {
  width: calc(100% - 60px);
  margin: 0 30px;
  display: inline-block;
  text-align: left;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  max-height: 400px;
  overflow-y: scroll; }

.option {
  display: block;
  min-height: 30px;
  padding: 5px 10px;
  word-break: break-word;
  cursor: pointer; }

.words {
  padding-right: 40px; }

.suggestion {
  padding: 1px;
  margin: -1px;
  border-radius: 4px; }

.selected {
  border-radius: 4px;
  padding: 2px 5px;
  margin: 3px 5px; }

.option * {
  display: inline;
  white-space: pre-wrap; }

.category-symbol {
  font-style: italic; }

.hint {
  float: right;
  margin-top: 5px;
  width: 20px; }

.placeholder {
  text-decoration: underline; }

.theme-eighties-dark .category-action {
  color: #6699cc; }
.theme-eighties-dark .suggestion .category-action:not(.highlighted), .theme-eighties-dark .completion .category-action {
  color: rgba(102, 153, 204, 0.75); }
.theme-eighties-dark .category-argument {
  color: #99cc99; }
.theme-eighties-dark .suggestion .category-argument:not(.highlighted), .theme-eighties-dark .completion .category-argument {
  color: rgba(153, 204, 153, 0.75); }
.theme-eighties-dark .category-actor {
  color: #f2777a; }
.theme-eighties-dark .suggestion .category-actor:not(.highlighted), .theme-eighties-dark .completion .category-actor {
  color: rgba(242, 119, 122, 0.75); }
.theme-eighties-dark .category-addition {
  color: #f99157; }
.theme-eighties-dark .suggestion .category-addition:not(.highlighted), .theme-eighties-dark .completion .category-addition {
  color: rgba(249, 145, 87, 0.75); }
.theme-eighties-dark .category-conjunction {
  color: #747369; }
.theme-eighties-dark .suggestion .category-conjunction:not(.highlighted), .theme-eighties-dark .completion .category-conjunction {
  color: rgba(116, 115, 105, 0.75); }
.theme-eighties-dark input {
  background-color: #2d2d2d;
  color: #d3d0c8; }
.theme-eighties-dark .options {
  background-color: #2d2d2d; }
.theme-eighties-dark .selected {
  background-color: #393939; }
.theme-eighties-dark .hint {
  color: #d3d0c8; }
.theme-eighties-dark ::-webkit-input-placeholder {
  color: #747369; }
.theme-eighties-dark :-moz-placeholder {
  color: #747369; }
.theme-eighties-dark ::-moz-placeholder {
  color: #747369; }
.theme-eighties-dark :-ms-input-placeholder {
  color: #747369; }
