@import 'theme';
@import 'bourbon/bourbon';

.input, .options {
  position: relative;
}

.lacona-view, .input {
  font-family: $lacona-font;
  font-size: 24px;
  line-height: normal;
}

.lacona-view {
  width: 100%;
  margin: 0;
  padding: 0;
}

.input {
  @include calc(width, '100% - 40px');
  text-align: left;
  margin: 10px 0 0 0;
  padding: 7px 20px;
  height: 46px;
  border-radius: 4px;

  z-index: 100;
  border: none;
  outline: none;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.options {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  @include calc(width, '100% - 20px');
  margin: 0 10px;
  display: inline-block;
  text-align: left;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  max-height: 290px;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.option {
  display: block;
  word-break: break-word;
  cursor: pointer;
  padding: 15px;
  position: relative;
  overflow: hidden;
  // min-height: 60px;
}





.fallthrough {
  border-radius: 4px;
  margin: -5px 0 -5px -50px;
  padding: 5px 0 5px 50px;
  height: 0;
}

.word, .word-component, .placeholder-component {
  white-space: pre-wrap;
}

.word, .word-component, .placeholder-component {
  display: inline;
}

.placeholder, .descriptor, .spacer-left, .spacer-right {
  display: inline-block;
}

.descriptor {
  position: absolute;
  padding: 0 200px 0 20px;
  width: 400px;
  // z-index: -20;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.descriptors {
  font-size: 12px;
}

.words {
  position: relative;
  line-height: 42px;
  // overflow-y: hidden;
  // padding-bottom: 10px;
  // line-height: 32px;
  // margin-top: 20px;
  // position: relative;
}

.word {
  // position: relative;
}

.placeholder {
  font-size: 15px;
  padding: 2px 10px;
  margin: 0;
  border-radius: 4px;
  line-height: normal;
  position: relative;
  top: -2px;
}

.category-symbol {
  font-style: italic;
}

.hint {
  float: right;
  margin: 10px 0 0 10px;
  width: 35px;
  font-size: 80%;
}

@mixin category($name, $color) {
  .category-#{$name}:not(.highlighted) {
    color: transparentize($color, 0.25);
  }
  .category-#{$name}, .examples .category-#{$name} {
    color: $color;
  }
}

@mixin descriptor($name, $color) {
  .descriptor-#{$name} .word-component:not(.highlighted) {
    color: transparentize($color, 0.25);
  }
  .descriptor-#{$name}, .examples .category-#{$name} {
    color: $color;
  }
}

@mixin theme($class, $theme) {
  .#{$class} {
    @include category(action, map-get($theme, action));

    @include category(argument0, map-get($theme, argument0));
    @include category(argument1, map-get($theme, argument1));
    @include category(argument2, map-get($theme, argument2));
    @include category(argument3, map-get($theme, argument3));
    @include category(argument4, map-get($theme, argument4));
    @include category(argument5, map-get($theme, argument5));
    @include category(argument6, map-get($theme, argument6));
    @include category(conjunction, map-get($theme, conjunction));

    @include descriptor(file, map-get($theme, argument0));
    @include descriptor(artist, map-get($theme, argument0));
    @include descriptor(location, map-get($theme, argument0));

    @include descriptor(time, map-get($theme, argument1));
    @include descriptor(song, map-get($theme, argument1));
    @include descriptor(email-address, map-get($theme, argument1));
    @include descriptor(path, map-get($theme, argument1));

    @include descriptor(message, map-get($theme, argument2));
    @include descriptor(query, map-get($theme, argument2));
    @include descriptor(reminder-title, map-get($theme, argument2));
    @include descriptor(calendar-event, map-get($theme, argument2));
    @include descriptor(query, map-get($theme, argument2));
    @include descriptor(playlist, map-get($theme, argument2));
    @include descriptor(查询, map-get($theme, argument2));
    @include descriptor(بحث, map-get($theme, argument2));
    @include descriptor(запрос, map-get($theme, argument2));
    @include descriptor(consulta, map-get($theme, argument2));

    @include descriptor(contact, map-get($theme, argument3));
    @include descriptor(birthday, map-get($theme, argument3));
    @include descriptor(url, map-get($theme, argument3));
    @include descriptor(search-engine, map-get($theme, argument3));
    @include descriptor(搜寻引擎, map-get($theme, argument3));
    @include descriptor(محرك-البحث, map-get($theme, argument3));
    @include descriptor(поисковик, map-get($theme, argument3));
    @include descriptor(buscador, map-get($theme, argument3));
    @include descriptor(composer, map-get($theme, argument3));

    @include descriptor(phone-number, map-get($theme, argument4));
    @include descriptor(album, map-get($theme, argument4));
    @include descriptor(application, map-get($theme, argument4));
    @include descriptor(date, map-get($theme, argument4));

    @include descriptor(relationship, map-get($theme, argument5));
    @include descriptor(holiday, map-get($theme, argument5));
    @include descriptor(preference-pane, map-get($theme, argument5));
    @include descriptor(current-song, map-get($theme, argument5));
    @include descriptor(next-song, map-get($theme, argument5));
    @include descriptor(previous-song, map-get($theme, argument5));
    @include descriptor(duration, map-get($theme, argument5));
    @include descriptor(shuffled, map-get($theme, argument5));

    @include descriptor(bookmark, map-get($theme, argument6));
    @include descriptor(genre, map-get($theme, argument6));
    @include descriptor(offset, map-get($theme, argument6));

    .placeholder {
      border: 2px solid lighten(map-get($theme, input-bg), 10%);
    }

    .placeholder, .descriptor {
      color: map-get($theme, descriptor);
    }

    .item {
      color: white;
    }

    .fallthrough {
      color: map-get($theme, input-bg);
      background-color: map-get($theme, action);
    }

    input {
      background-color: map-get($theme, input-bg);
      color: map-get($theme, input-text);
      border: 1px solid map-get($theme, input-bg);
    }

    .true-input {
      background-color: map-get($theme, input-bg);
      color: map-get($theme, input-text);
    }

    .prefix {
      background-color: map-get($theme, action);
      color: map-get($theme, input-bg);
      // color: transparentize(map-get($theme, input-text), 0.5);
    }

    .options {
      color: map-get($theme, conjunction);
      background-color: map-get($theme, input-bg);

      .descriptor {
        //you have to transparentize the bg because safari is just the dumbest
        @include linear-gradient(to right, transparentize(map-get($theme, input-bg), 1) 0%, map-get($theme, input-bg) 15px);
      }
    }


    .option.selected {
      background-color: map-get($theme, selection-bg);

      .descriptor {
        @include linear-gradient(to right, transparentize(map-get($theme, selection-bg), 1) 0%, map-get($theme, selection-bg) 15px);
      }
    }


    .hint {
      color: map-get($theme, input-text);
    }

    @include placeholder {
      color: map-get($theme, conjunction);
    }
  }
}

@include theme('theme-eighties-dark', $theme-eighties-dark);






/*
// RTL RTL RTL
.input {
  direction: rtl;
  text-align: right;
}
.options {
  text-align: right;
}
.words {
  direction:rtl;
}
.descriptor {
  padding: 0 20px 0 200px !important;
}

.placeholder-component {
  white-space: pre !important;
}

.hint {
  float: left;
  margin: 10px 10px 0 0;
}
*/
