$theme-eighties-dark: (
  action: #d3d0c8,
  argument0: #f2777a,
  argument1: #f99157,
  argument2: #ffcc66,
  argument3: #99cc99,
  argument4: #66cccc,
  argument5: #cc99cc,
  argument6: #d27b53,
  argument7: #6699cc,
  conjunction: #747369,
  input-bg: #2d2d2d,
  selection-bg: #393939,
  input-text: #d3d0c8
);

$lacona-font: -system, Lato, sans-serif;
