@import 'normalize';
@import 'lacona';
@import 'theme';
@import 'bourbon/bourbon';

$rainbow: linear-gradient(90deg,
  map-get($theme-apple-light, argument0) 0%,
  map-get($theme-apple-light, argument0) 12.5%,
  map-get($theme-apple-light, argument1) 12.5%,
  map-get($theme-apple-light, argument1) 25%,
  map-get($theme-apple-light, argument2) 25%,
  map-get($theme-apple-light, argument2) 37.5%,
  map-get($theme-apple-light, argument3) 37.5%,
  map-get($theme-apple-light, argument3) 50%,
  map-get($theme-apple-light, argument4) 50%,
  map-get($theme-apple-light, argument4) 62.5%,
  map-get($theme-apple-light, argument5) 62.5%,
  map-get($theme-apple-light, argument5) 75%,
  map-get($theme-apple-light, argument6) 75%,
  map-get($theme-apple-light, argument6) 87.5%,
  map-get($theme-apple-light, argument7) 87.5%,
  map-get($theme-apple-light, argument7) 100%
);

$rainbow-dim: linear-gradient(90deg,
  transparentize(map-get($theme-apple-light, argument0), 0.94) 0%,
  transparentize(map-get($theme-apple-light, argument0), 0.94) 12.5%,
  transparentize(map-get($theme-apple-light, argument1), 0.94) 12.5%,
  transparentize(map-get($theme-apple-light, argument1), 0.94) 25%,
  transparentize(map-get($theme-apple-light, argument2), 0.94) 25%,
  transparentize(map-get($theme-apple-light, argument2), 0.94) 37.5%,
  transparentize(map-get($theme-apple-light, argument3), 0.94) 37.5%,
  transparentize(map-get($theme-apple-light, argument3), 0.94) 50%,
  transparentize(map-get($theme-apple-light, argument4), 0.94) 50%,
  transparentize(map-get($theme-apple-light, argument4), 0.94) 62.5%,
  transparentize(map-get($theme-apple-light, argument5), 0.94) 62.5%,
  transparentize(map-get($theme-apple-light, argument5), 0.94) 75%,
  transparentize(map-get($theme-apple-light, argument6), 0.94) 75%,
  transparentize(map-get($theme-apple-light, argument6), 0.94) 87.5%,
  transparentize(map-get($theme-apple-light, argument7), 0.94) 87.5%,
  transparentize(map-get($theme-apple-light, argument7), 0.94) 100%
);

body {
  font: $lacona-font;
  @media screen and (max-width: 400px) {
    font: $lacona-font-small;
  }

  background-color: $light-bg;
  background-image: $rainbow, $rainbow, $rainbow-dim;
  background-position: center top, center bottom, center top;
  background-size: 100% 20px, 100% 20px, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;

  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: $light-fg;

  a, a:link, a:visited {
    color: $light-fg;
  }

  a:active {
    color: darken($light-fg, 20%);
  }

  a:hover {
    color: darken($light-fg, 10%);
  }

  .buttons {
    display: flex;
  }

  .buttonContainer {
    display: inline-block;
    margin: 0 1.53333333333333%;
    flex: 1 1 10px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      font-size: 75%;
      padding: 0 10px 0 0;
    }
  }

  a.button {
    @include user-select(none);
    margin: 0 0 0.5rem 0;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    padding: 1rem 0;
    width: 100%;
    color: $light-bg;
    font-weight: 500;
  }

  a.downloadButton {
    background-color: map-get($theme-apple-light, argument3);

    &.warn {
      background-color: map-get($theme-apple-light, argument5);
    }
  }

  a.subscribeButton {
    background-color: map-get($theme-apple-light, argument1);
  }

  a.followButton {
    background-color: map-get($theme-apple-light, argument0);
  }

  h3 {
    font-weight: 300;
    font-size: 200%;
  }
}

header {
  max-width: 820px;
  margin: 3rem auto 3rem auto;
  padding: 1rem 0 0 0;
  background-position: right 2rem;
  text-align: center;

  h1 a {
    text-decoration: none;
  }

  h1, p {
    padding: 0 1rem;
  }

  h1 {
    font-weight: 300;
    font-size: 400%;
    text-align: center;
    margin-bottom: 0.1rem;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .buttons {
    margin: 7rem 0 4rem 0;
  }

  p {
    text-align: left;
  }

  @media screen and (min-width: 600px) {
    & {
      background-image: url('Icon400.png');
      background-repeat: no-repeat;
      background-size: calc(100% / 2.5);
    }

    h1, p {
      padding-right: calc(100% / 2.5 + 10px);
      padding-right: calc(100% / 2.5 + 10px);
    }
  }
}

footer {
  max-width: 820px;
  margin: 3rem auto 3rem auto;
  padding: 0 1rem;
  text-align: center;
}

.lacona-demo {
  text-align: center;
  width: calc(100% - 2rem);
  padding: 1rem 1rem 0 1rem;
  position: absolute;
  background-color: $light-bg;
  background-image: $rainbow-dim;

  &.sticky {
    position: fixed;
    top: 0;
  }
}

.disclaimer {
  text-align: left;
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto -3rem auto;
  max-width: 800px;

  p {
    margin-bottom: 0;
    padding: 0
  }
}

content {
  display: block;
  padding: 5rem 0 0 0;
}

section {
  padding: 3rem 20px 3rem 20px;

  p, .examples, h3 {
    max-width: 800px;
    margin: 3rem auto;
  }

  .examples {
    list-style-type: none;
    font-family: $lacona-font;
    color: $light-fg;
    @include display(flex);
    @include flex-wrap(wrap);
    padding: 20px 0 0 0;
  }

  .examples li {
    padding: 0.5rem 1.5rem;
    margin: 0.1rem 0.1rem 0 0;
    background-color: $light-bg;
    border-radius: 4px;
    border: 1px solid $light-bg-alt;
    @include flex-grow(1);
  }

  .examples:not(.inactive) li:hover {
    background-color: $light-bg-alt;
  }

  .examples:not(.inactive) li {
    @include user-select(none);
    cursor: pointer;
  }
}

.mobile .examples li, .mobile .examples li:hover {
  background-color: $light-bg;
  cursor: auto;
  @include user-select(all);
}

.lightbox-total {
  position: absolute;
  z-index: 10000;

  &:not(.visible) {
    pointer-events: none;

    .lightbox-cover {
      @include transition(height 0.3s ease-in 0.2s);
    }

    .lightbox {
      @include transition(opacity 0.22s ease-in);
    }
  }

  &.visible {
    pointer-events: auto;

    .lightbox-cover {
      height: 100%;
      @include transition(height 0.3s ease-out);
    }
    .lightbox {
      opacity: 1;
      @include transition(opacity 0.2s ease-out 0.3s);
    }
  }

  .lightbox-cover {
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-image: $rainbow;
    background-size: 100% 100%;
    cursor: pointer;
  }

  .lightbox {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: $light-bg;
    max-width: 740px;
    padding: 40px;
    border-radius: 4px;
    text-align: center;

    @include calc(width, '100% - 100px');
    @include transform(translate(-50%, -50%)) ;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);

    h3 {
      margin: 1rem 0;
      font-weight: 300;
      font-size: 200%;
    }
    p {
      margin: 3rem 0;
      text-align: left;
    }
  }

  .closeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    line-height: 0;
    padding: 10px;
  }
}

body.static {
  margin: 0 auto;
  max-width: 680px;
  font: 500 12pt -apple-system,"HelveticaNeue","Helvetica Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

body.static p, body.static li {
  line-height: 18pt;
}