@import 'normalize';
@import 'lacona';
@import 'theme';
@import 'bourbon/bourbon';

$page-background: #d8eff5;

/* latin-ext */
@font-face {
  font-family: 'Lato-Local';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('Lato-Regular.ttf') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato-Local';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('Lato-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato-Local';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('Lato-Bold.ttf') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato-Local';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('Lato-Bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
  font-size: 14pt;
}

html, input {
  font-family: Lato, 'Lato-Local', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

html, a {
  color: hsl(0, 0%, 34%);
}

body {
  text-align: center;
}

content {
  // max-width: 940px;
  margin: 0 auto;
  display: block;
}

.lightbox-total {
  position: absolute;
  z-index: 10000;
}

.lightbox-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  @include calc(width, '100% - 100px');
  max-width: 640px;
  padding: 40px;
  border-radius: 4px;
  @include transform(translate(-50%, -50%)) ;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);

  h3 {
    padding-bottom: 10px;
  }


  @media screen and (max-width: 736px) {
    & {
      padding: 10px;
    }

    .share-sheet img {
      width: 48px;
      height: 48px;
      padding: 2px;
    }

    h3 {
      font-size: 1rem;
      line-height: 1rem;
    }

    .description, .share-desc {
      font-size: 70%;
      line-height: 0.9rem;
    }

    .closeButton {
      top: 5px;
      left: 5px;
    }
  }

}

.closeButton {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  line-height: 0;
  padding: 10px;
}

.lightbox-enter {
  opacity: 0.01;
}

.lightbox-enter.lightbox-enter-active {
  @include transition(opacity .5s ease-out);
  opacity: 1;
}
.lightbox-leave {
  opacity: 1;
  pointer-events: none;
}
.lightbox-leave.lightbox-leave-active {
  opacity: 0.01;
  @include transition(opacity .5s ease-out);
}

.share-sheet {
  @include display(flex);
  @include justify-content(space-around);
  @include flex-flow(row wrap-reverse);

  img {
    width: 64px;
    height: 64px;
  }

  .extend img {
    width: 78px;
    height: 165px;
  }

  a img {
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    @include transition(box-shadow 0.1s ease-out);
    margin: 2px;
  }

  a:hover img {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  }

  a:active img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  a.share-item {
    display: block;
  }

  .share-icons {
    text-align: center;
    height: 74px;
  }

  a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
}

.share-item.extend img {
  margin: -2px;
  cursor: pointer;
}

.share-desc {
  text-align: center;
  font-weight: bold;
}

.initial-load {
  opacity: 0;
}

.lacona > div {
  position: relative;
}

.lacona-appear {
  opacity: 0;
  top: 10px;
}

.lacona-appear.lacona-appear-active {
  @include transition(all .5s ease-out 1s);
  opacity: 1;
  top: 0;
}


a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
  background: none;
}

body {
  line-height: 2em;
  text-align: left;
  word-wrap: break-word;

  a, a:visited, a:hover, a:active, a:focus {
    text-decoration: underline;

    cursor: pointer;
  }

  a:hover {
    color: hsl(0, 0%, 14%);
  }

  a:active {
    color: hsl(0, 0%, 0%);
  }

  a.nodifferent {
    &, &:visited, &:hover, &:active, &:focus {
      text-decoration: none;
      color: inherit;
    }
  }

}

h1, h2, h3, h4, h5, h6 {
  color: #4A4A4A;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 3.096rem;
  line-height: 5rem;
}

h2 {
  font-size: 1.86rem;
  line-height: 4rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.36798rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.16961rem;
  line-height: 2rem;
}

h6 {
  font-size: 1rem;
  line-height: 2rem;
}

p {
  // margin-bottom: 2rem;
  padding: 0;
  margin: 0 auto 1rem auto;
}

.well, .description {
  @include calc(width, '100% - 80px');
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  margin: -4px auto 4px auto;

  li {
    margin-left: 20px;
  }
}

.well {
  font-size: 80%;
}

.description {
  margin-top: 20px;
  font-size: 100%;
}

.code {
  font-family: monospace;
}

section {
  padding: 40px 20px;
}

section.green {
  padding: 20px 20px;
}

section.green p:not(.well) {
  margin: 0;
  padding: 0;
}

.text {
  width: 100%;
}

.textLeft, .textRight, .full {
  @include calc(width, '100% - 40px');
  @include display(flex);

  .lacona {
    width: 100%;
    height: 425px;
  }
}

.full {
  @include justify-content(center);

  .text, .lacona {
    max-width: 940px;
  }

  .lacona {
    margin-top: -20px;
  }
}

.textLeft, .textRight {
  @include justify-content(space-between);
  @include flex-flow(row wrap);

  .text, .lacona {
    @include flex(0 0 48%);
  }
}

.textLeft {
  @include flex-direction(row);
}

.textRight {
  @include flex-direction(row-reverse);
}

@media screen and (max-width: 960px) {
  .textLeft, .textRight {
    @include flex-direction(row-column);


    .text, .lacona {
      @include flex(0 0 100%);
    }
  }
}

.examples {
  list-style-type: none;
  padding: 0;
  font-family: $lacona-font;
  @include display(flex);
  @include flex-wrap(wrap);
  border-radius: 4px;
}

.examples li {
  // box-shadow: 2px 2px 2px rgba(0,0,0,0.35);
  // border: 1px solid #000;
  // border-radius: 4px;
  padding: 2px 17px;
  margin: 1px 1px 0 0;
  @include flex-grow(1);
}

.examples li:hover {
  // box-shadow: 1px 1px 1px rgba(0,0,0,0.35);
}

.examples li:active {
  // box-shadow: none;
}

.examples:not(.inactive) li {
  cursor: pointer;
}

.keys {
  @include display(flex);
  @include justify-content(center);
  text-align: center;
  line-height: normal;
  margin-top: 10px;
}

.keys:not(.visible) {
  visibility: hidden;
}

.key {
  margin: 0 20px;
}

.keyDesc {
  font-weight: 700;
}

.mobile .desktopOnly {
  display: none;
}

.desktop .mobileOnly {
  display: none;
}

header {
  width: 100%;
  text-align:center;

  h1 {
    font-size: 3.496rem;
    display: inline-block;
    padding: 10px 0 10px 100px;
    background: url('logo.png') no-repeat left center;

    background-size: 94px 94px;

    a, a:hover, a:active, a:focus, a:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  h2 {
    padding-bottom: 2rem;
    line-height: 2rem;
  }

  p {
    padding: 0 10px 10px 10px;
    margin: 0 auto;
    font-size: 80%;
    line-height: 1.2rem;
  }
}

footer {
  text-align: center;
  padding: 30px 0;
}

.popover {
  display: none;
}


@mixin theme($class, $theme) {
  .#{$class} {
    .examples li {
      background-color: map-get($theme, 'input-bg');
      border-color: darken(map-get($theme, 'input-bg'), 10%);
    }
    .examples:not(.inactive) li:hover {
      background-color: map-get($theme, 'selection-bg');
    }
    .examples:not(.inactive) li:active {
      background-color: lighten(map-get($theme, 'selection-bg'), 10%);
    }

    // .well {
    //   background-color: map-get($theme, 'input-bg');
    //   color: map-get($theme, 'input-text');
    // }

    .lightbox {
      background-color: lighten(map-get($theme, 'argument3'), 20%);
      border: 1px solid map-get($theme, 'argument3');
      h3, a, a:visited {
      }
      a:hover {
      }
      a:active {
      }
      .description {
        background: map-get($theme, 'input-bg');
        color: map-get($theme, 'input-text');
      }

    }

    header {
      background-color: map-get($theme, 'input-bg');
      border-bottom: 1px solid darken(map-get($theme, 'input-bg'), 20%);
      h1, h2, p {
        color: map-get($theme, 'input-text');
      }
      a, a:visited {
        color: map-get($theme, 'input-text');
      }
      a:hover {
        color: lighten(map-get($theme, 'input-text'), 10%);
      }
      a:active {
        color: lighten(map-get($theme, 'input-text'), 20%);
      }
    }

    section {
      border-bottom: 1px solid map-get($theme, 'action');
    }

    section:nth-child(odd) {
      background-color: lighten(map-get($theme, 'action'), 30%);
    }

    section:nth-child(even) {
      background-color: lighten(map-get($theme, 'action'), 20%);
    }

    section.green {
      background-color: lighten(map-get($theme, 'argument3'), 20%);
      border-bottom: 1px solid map-get($theme, 'argument3');
    }
    .well {
      background-color: lighten(map-get($theme, 'argument2'), 20%);
      border: 1px solid map-get($theme, 'argument2');
    }

    footer {
      background-color: lighten(map-get($theme, 'action'), 20%);

      .text {
        max-width: 940px;
        margin: 0 auto;
      }
    }

  }
}

@include theme('theme-eighties-dark', $theme-eighties-dark);
